:root {
    --m: #ec7ead;
    /* Light pink */
    --s: #c82f63;
    /* Dark pink */
    --d: #78383d;
    /* Dark pink shade */
    --f: 'Concert One', sans-serif;
    --color-background: linear-gradient(to right bottom, #ffb88e, #ea5753);
    /* Gradient with shades of pink */
    --color-container: linear-gradient(to right bottom, rgba(255, 184, 142, 0.44), rgba(255, 255, 255, 0.5));
    /* Gradient with pink and gold */
    --color-list: rgba(234, 87, 83, 0.7);
    /* Pink shade with transparency */
}


.container {
    font: var(--f);
    margin-top: 100px;
}

.background {
    background-image: url('/src/image/gold\ and\ pink.png');
    background-size: cover;
}

.button-74 {
    background: var(--m);
    border: 2px solid var(--s);
    border-radius: 30px;
    box-shadow: var(--s) 4px 4px 0 0;
    color: var(--s);
    cursor: pointer;
    display: block;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 0 1.125rem;
    line-height: 3.125rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    margin: 0 auto;
}

.button-74:hover {
    background: #fff;
}

.button-74:active {
    box-shadow: var(--s) 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.hint {
    list-style: none;
    border: 1px solid var(--s);
    border-radius: 8px;
}

li {
    padding: 6px;
    font-size: 20px;
}

.table {
    border: 1px solid var(--s);
}

.singleWord {
    border: 1px solid var(--s);
    font: 24px/1.5 var(--f);
    text-align: center;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.found {
    background: red;
    color: #fff;
}

.selected {
    background: var(--m);
    border-radius: 50%;
    border: 2px solid #fff;
    outline: none;
}

.crossed-off {
    text-decoration: line-through;
}

.singleWord:focus {
    outline: none;
}

.noSelect {
    user-select: none;
}

@media only screen and (max-width: 600px) {
    .button-74 {
        font-size: 1rem;
        padding: 0.75rem;
        line-height: 2.5rem;
    }

    .table,
    .hint {
        font-size: 8px;
        padding: 1px;
    }

    .singleWord {
        width: 5px;
        height: 8px;
        padding: 6px;
        font-size: 12px;
        margin: 1px;
    }

    li {
        padding: 1.5px;
        font-size: 9px;

    }

    p {
        font-size: 9px;
    }

}


@media (min-width: 768px) {
    .button-74 {
        min-width: 7.5rem;
        padding: 0 1.5625rem;
    }
}

@media (max-width: 320px) {
    .button-74 {
        font-size: 9px;
        padding: 2px;
        margin: 2px;
    }
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameOver {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--m);
    width: 9.25em;
    height: 1.15em;
    font-size: 4rem;
    font-family: sans-serif;
    position: relative;
    margin: 0 auto;
}

.gameOver div {
    position: absolute;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
}

.upper {
    top: 0;
    height: 52.5%;
    color: #fff;
    overflow: hidden;
    z-index: 3;
    animation: moveUp 1.5s ease-in-out 1;
    background-color: var(--m);
}

.lower {
    bottom: 0;
    height: 100%;
    background: linear-gradient(180deg, white 52.5%, #fff 52.5%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 1;
    animation: moveDown 1.5s ease-in-out 1;
}

.inside {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
    z-index: 2;
    font-size: 1rem;
    color: var(--d);
}

@keyframes moveUp {

    0%,
    100% {
        top: 0;
    }

    50%,
    70% {
        top: -45px;
    }
}

@keyframes moveDown {

    0%,
    100% {
        top: 0;
    }

    50%,
    70% {
        top: 30px;
    }
}

@media (max-width: 424px) {
    .gameOver {
        font-size: 2.5rem;
    }

    .inside {
        font-size: 0.75rem;
    }
}

@media (max-width: 320px) {
    .gameOver {
        font-size: 2rem;
    }

    .inside {
        font-size: 0.5rem;
    }
}

.miniContainer {
    width: 100%;
    padding: 3rem;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    border-radius: 3rem;
    background: var(--color-container);
    display: block;
    margin: 0 auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    &::before {
        content: "";
        top: -10rem;
        left: -10rem;
        width: 100%;
        height: 40rem;
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.35);
    }

    &::after {
        content: "";
        bottom: 0rem;
        right: -10rem;
        width: 100%;
        height: 40rem;
        margin-bottom: -25rem;
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 185, 142, 0.6);
    }
}

.listOfAffirmations {
    list-style: none;
    display: block;
    margin-right: 0 auto;
    border: var(--m) solid;
    width: 100%;
    text-align: center;
    border-radius: 3rem;
    counter-reset: my-counter;
    padding-bottom: 10px;
    font-size: 24px;
    padding: 3px;
}

.listOfAffirmations::before {
    content: none;
}

.listOfAffirmations li {
    margin-bottom: 15px;
    padding: 5px;
}

h4 {
    list-style: none;
    margin: 0 auto;
    position: sticky;
    text-align: center;
    color: var(--s);
    margin-bottom: 3rem;
}

@media (max-width: 768px) {

    .miniContainer,
    .listOfAffirmations {
        max-width: 100%;
        /* Adjusted to 100% to fit the screen */
        width: 100%;
        /* Added to ensure full width */
        font-size: 12px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        /* Added to display items below each other */
        margin: 5px;

        &::before {
            content: "";
            top: -10rem;
            left: -10rem;
            width: 100%;
            /* Adjusted to 100% to fit the screen */
            height: 100%;
            /* Adjusted to 100% to fit the screen */
            position: absolute;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.35);
        }

        &::after {
            content: "";
            bottom: 0rem;
            right: -10rem;
            width: 100%;
            /* Adjusted to 100% to fit the screen */
            height: 100%;
            /* Adjusted to 100% to fit the screen */
            margin-bottom: -25rem;
            position: absolute;
            border-radius: 50%;
            background: rgba(254, 200, 167, 0.6);
        }
    }

    h4 {
        font-size: 10px;
    }
}